html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none; /* prevents from selecting anything in the body */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cart__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 360px;
  margin: 30px auto;
  padding: 32px;
  gap: 16px;

  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  border-color: #252525;
  background-image: linear-gradient(
    160deg,
    #ffa1e1 0%,
    #972aff 40%,
    #5654fc 50%,
    #71f1ed 80%
  );
}

.cart__img {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.cart__input {
  padding: 16px;
  min-width: 240px;

  text-align: center;
  font-size: 20px;
  font-family: inherit;

  border-width: 0;
  border-radius: 8px;
  background-color: #dfe5ec;

  transition: 550ms ease-in-out;

  &:focus {
    background-color: #dfe5ec80;
    color: #ffffff;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.cart__input::-webkit-input-placeholder {
  color: #b1afaf;
}

.cart__add-btn {
  padding: 16px;
  min-width: 240px;

  text-align: center;
  font-size: 20px;
  font-family: inherit;
  color: #ffffff;

  border-width: 0;
  border-radius: 8px;
  background-color: #b1516490;

  transition: 250ms ease-in-out;

  &:hover {
    box-shadow: 0px 1px 4px #00000033;
    background-color: #43200090;
  }
}

.shopping-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  list-style: none;
}

.shopping-item {
  flex-grow: 1;
  padding: 16px;
  border-width: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;

  text-align: center;

  color: #fff2e5;
  background-color: #00000040;
  box-shadow: 0px 1px 4px #00000033;

  transition: 250ms ease-in-out;

  &:hover {
    color: #432000;
    background-color: #ffecc795;
    /* filter: blur(2px); */
  }
}
